body{
	font-size: 1em;
}

.jumbotron {
	background-color: #57745e;
}
.btn-primary {
	color: #fff;
	background-color: #57745e;
	border-color: #57745e;
}

.btn-primary:hover {
	color: #fff;
	background-color: #6f9177;
	border-color: #6f9177;
}

.bs-component1 {
	text-align: center;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.bs-component {
	display: flex;
	justify-content: center;
}

.row {
	display: flex;
	margin-right: 0px;
	margin-left: 0px;
}

#resumejumbtron {
	text-align: center;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:not(.btn) {
	color: white;
	text-decoration: none;
}

#resumeBuilderImage2 {
	display: flex;
	justify-content: center;
}

#faceDetectionImg,
#customDetectorImg,
#guiProgramImg,
#virtualPianoImg,
#resumeBuilderFlowChart {
	max-width: 100%;
	max-height: 95%;
	height: auto;
	width: auto;
}

#resumePdf {
	display: flex;
	margin: auto;
	justify-content: center;
}

#meImg {
	display: flex;
	margin: auto;
	justify-content: center;
	max-height: 100%;
	max-width: 100%;
	position: relative;
}

.center {
	padding: auto;
	padding-left: 0px;
	padding-right: 5px;
}

p.clear {
	clear: both;
}

.col {
	padding: 0;
}

.col1 {
	display: block;
	justify-content: center;
	margin: auto;
	padding-left: 10px;
}


#projectContainer {
	padding-top: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	/*flex-direction: column-reverse;*/
	flex-direction: column;
}

.custom-switch {
	padding-top: 2em;
	padding-left: 5em;
	padding-right: 2em;}

.mainContainer{
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

#mainSheet
{
	background-color: #57745e;
	margin-right: auto;
	margin-left: auto;
	padding: auto;
	padding-bottom: 2em;
	display: block;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.socials{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;

}

#anotherOne
{
	padding-left: 15px;
	padding-bottom: 1em;
}